body {
  background-color: #f8f9fa;
  font-family: Arial, sans-serif;
}

.App {
  padding: 20px;
}

h1 {
  color: #343a40;
  margin-bottom: 20px;
}

.add-product-form {
  margin: 20px 0;
  padding: 15px;
  border: 1px solid #ced4da;
  border-radius: 5px;
  background-color: #ffffff;
}

input {
  width: calc(100% - 10px);
  margin-bottom: 10px;
  padding: 8px;
  border: 1px solid #ced4da;
  border-radius: 4px;
}

.table {
  width: 100%;
  margin-top: 20px;
}

.card {
  width: 300px;
  margin: 10px;
}

.card-title {
  font-size: 1.25rem;
}

.card-text {
  margin: 0;
}

button {
  width: 100%;
  margin-top: 10px;
}

.d-flex {
  flex-wrap: wrap;
}

.button-container {
  display: flex;
  justify-content: space-between;
}

button:hover {
  opacity: 0.9;
}
